{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="jumbotron" style='background-color: white;'>
      <div class="container">
        <div class='col-sm-6'>
        <h1>Hello, Everyone!</h1>
        <p>Welcome to my page</p>
        <p>You have reached Praneeth Kumar Pidugu page</p>
        <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      <div class='col-sm-6'>
        <img src="{% static 'img/iphone.jpg' %}" class='img-responsive' />
        </div>
      </div>
    </div>

<div class='container' style='text-align:center;'>
<hr>
<h1>Hello, enter your email address to stay in touch</h1>
<form method='POST' action=""> {% csrf_token %}
        {{ form.as_p }}
    <input type='submit' value='Join' class='btn' />
 </form>
</div>
{% endblock %}
